@model Product
<div class="card">
    <img src="@Model.ImageUrl" class="img-fluid" />
    <div class="card-body">
        <p class="card-text">@Model.Name</p>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price yerine @((double)Model.Price * (1 - Model.DiscountRate)) TL</p>
        <button class="btn btn-success basket" data-id="@Model.Id">Sepete Ekle</button>
    </div>
</div>