@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Singleton: @ViewBag.Singleton</p>
    <p>Scoped: @ViewBag.Scoped</p>
    <p>Transient: @ViewBag.Transient</p>
    <hr />
    <h3>Bir başka obje içinde bulunanlar:</h3>
    <p>Singleton: @ViewBag.SingletonService</p>
    <p>Scoped: @ViewBag.ScopedService</p>
    <p>Transient: @ViewBag.TransientService</p>


</div>
